#ifndef __CONFIG_H__
#define __CONFIG_H__

// config 1
#define APPLY_CONFIG
#ifdef APPLY_CONFIG
#undef APPLY_CONFIG

#define CONFIG_NSKEY    { 0x00, 0x11, 0x22, 0x33, 0x44, 0x55, 0x66, 0x77, 0x88, 0x99, 0xAA, 0xBB, 0xCC, 0xDD, 0xEE, 0xFF }
#define CONFIG_ASKEY    { 0x00, 0x11, 0x22, 0x33, 0x44, 0x55, 0x66, 0x77, 0x88, 0x99, 0xAA, 0xBB, 0xCC, 0xDD, 0xEE, 0xFF }
#define CONFIG_DEVADDR  0x00112233
#define CONFIG_NETID    0x00000000
#define CONFIG_CHANNEL  1
#endif

// config 2
//#define APPLY_CONFIG
#ifdef APPLY_CONFIG
#undef APPLY_CONFIG

#define CONFIG_NSKEY    { 0x00, 0x11, 0x22, 0x33, 0x44, 0x55, 0x66, 0x77, 0x88, 0x99, 0xAA, 0xBB, 0xCC, 0xDD, 0xEE, 0xFF }
#define CONFIG_ASKEY    { 0x00, 0x11, 0x22, 0x33, 0x44, 0x55, 0x66, 0x77, 0x88, 0x99, 0xAA, 0xBB, 0xCC, 0xDD, 0xEE, 0xFF }
#define CONFIG_DEVADDR  0x00112233
#define CONFIG_NETID    0x00000000
#define CONFIG_CHANNEL  1
#endif

#endif // __CONFIG_H__
